.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 230px 0 260px;
    text-align: left;

    .name-container {
        margin-left: 8%;
    }

    p {
        margin-left: 9%;
    }
}

@media screen and (min-width: 768px) {
    .header {
        padding: 300px 0;
        align-items: center;
        text-align: center;

        .name-container {
            display: flex;
            margin-left: 0;
        }

        p {
            margin-left: 0;
        }
    }
}