.nav-section {
    display: flex;
    justify-content: flex-end;
    margin: 30px 40px;

    .nav {
        display: flex;
        justify-content: space-between;
        width: 68.3%;
    
        .nav-list {
            list-style-type: none;
            width: 55%;
            display: flex;
            justify-content: space-between;

            &__item a {
                text-decoration: none;
                color: $black;
            }
        }
      }
}