//Projects
.projects-section {
    background-color: $primary-color;
    height: 850px;
    margin-top: 100px;
    width: 100%;

    .projects-gallery {
        display: grid;
        grid-template-columns: 1fr;
        margin: -50px auto;
        position: absolute;
        left: 0;
        right: 0;

        &__img {
            width: 300px;
            height: 300px;
            background-color: $white;
            margin: 10px auto;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
        
        .desktop-only {
            display: none;
        }
    }
}

@media screen and (min-width: 768px) {
    .projects-section {
        height: 950px;

        .projects-gallery {
            grid-template-columns: 1fr 1fr;
            margin: -40px auto;
            gap: 30px;
            width: 85%;

            .desktop-only {
                display: inline-block;
            }
        }

    }
}

@media screen and (min-width: 992px) {
    .projects-section {
        height: 580px;

        .projects-gallery {
            grid-template-columns: 1fr 1fr 1fr;
            width: 100%;
        }

    }
}

@media screen and (min-width: 1200px) {
    .projects-section {
        height: 590px; 

        .projects-gallery {
            grid-template-columns: 1fr 1fr 1fr;
            width: 80%;
        }

    }
}


//About
.about-section {
    margin-top: 170px;
    line-height: 2;

    &__text {
        width: 80%;
        margin: 0 auto;
    }

    .skills-container {
        width: 65%;
        margin: 30px auto;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        &__icon {
            font-size: 50px;
            color: $secondary-color;
            margin: 20px;
        }
    }
}

@media screen and (min-width: 768px) {
    .about-section {
        &__text {
            width: 60%;
        }

        .skills-container {
            width: 60%;
        }
    }
}

@media screen and (min-width: 992px) {
    .about-section {
        &__text {
            width: 50%;
        }

        .skills-container {
            width: 50%;
        }
    }
}

@media screen and (min-width: 1200px) {
    .about-section {
        &__text {
            width: 35%;
        }

        .skills-container {
            width: 40%;
        }
    }
}


//Contact
.contact__title {
    margin-top: 130px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $primary-color;
    height: 500px;

    .form-container {
    display: flex;
    justify-content: center;
    padding: 50px;

         .form {
            display: flex;
            flex-direction: column;
            width: 90%;
            align-items: center;

            &__input {
                width: 100%;
                padding: 10px;
                margin: 10px;
                border: none;
                background-color: $light-primary;
            }
        }
    }  

    .contact-icons {
        display: flex;
        justify-content: space-evenly;
        width: 65%;
        margin: 0 auto;

        &__icon {
            font-size: 50px;
            color: $black;
            margin: 10px 20px 40px;
        }
    }
}

@media screen and (min-width: 768px) {
    .contact-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .form-container {
            width: 70%;
        }

        .contact-icons {
            align-items: center;
        }
    }
}

@media screen and (min-width: 992px) {
    .contact-container {
        .form-container {
            width: 60%;
        }
    }
}

// @media screen and (min-width: 1200px) {

// }