.switch {
    // display: inline-block;
   position: relative;
   width: 60px;
   height: 34px;
   margin: 0 5px;
   
   &__slider {
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       background-color: $primary-color;
       border: 4px solid #FFF3AF;
       border-radius: 30px;
       box-shadow: 0 1px 1px 0 rgba(75, 75, 75, 0.1);
       -webkit-transition: 0.4s;
       transition: 0.4s;
       cursor: pointer;
   }
     
   &__slider:before {
       content: "";
       position: absolute;
       left: 4px;
       bottom: 2px;
       height: 22px;
       width: 22px;
       background-color: #FFF3AF;
       box-shadow: 0 2px 2px 0 rgba(75, 75, 75, 0.1);
       -webkit-transition: 0.4s;
       transition: 0.4s;
       border-radius: 30px;
   }
   
     &__input:checked + &__slider {
       background-color: $black;
       border: 4px solid $grey;
     }
     
     &__input:checked + &__slider:before {
       -webkit-transform: translateX(22px);
       // -ms-transform: translateX(22px);
       transform: translateX(22px);
       background-color: $grey;
     }
}

// previous ".switch input" properties in case it stops working: 
// opacity: 0;
// width: 0;
// height: 0;