@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Open+Sans:wght@300&display=swap');

// Fonts
$heading-font: 'Montserrat', sans-serif;
$body-font: 'Open Sans', sans-serif;

// Colors
$primary-color: #FFD271;
$secondary-color: #F65C78;
$light-primary: #FFF3AF;
$light-secondary: #F97990;
$accent-color: #C3F584;
$black: #414141;
$grey: #828282;
$white: #f8f8f8;