body {
    font-family: $body-font;
    text-transform: lowercase;
    text-align: center;
    color: $black;

    h1 {
        @extend %heading;
        font-size: 3.5rem;
        text-transform: uppercase;
    }

    h2 {
        @extend %heading;
    }
    
    span {
        color: $secondary-color;
    }
}