body {
    font-family: $body-font;
    text-transform: lowercase;
    text-align: center;
    color: $black;

    header {
        h1 {
            @extend %heading;
            font-size: 3.5rem;
            text-transform: uppercase;
        }

        p {
            font-style: italic;
        }

    }

    h2 {
        @extend %heading;
    }
    
    span {
        color: $secondary-color;
    }

    footer {
        p {
            @extend %heading;
            font-size: 0.8rem;
            text-transform: uppercase;
        }
    }
}